# Ambiente virtuale di Poetry
.venv/
.poetry/

# File temporanei di sistema
.DS_Store
*.swp
*.tmp

# Cache Python
__pycache__/
*.pyc
*.pyo


# Ignora il file .env nella cartella config
config/.env
config/api_football_rapid_counter.json
config/api_football_data_org_counter.json

# Checkpoints di Jupyter Notebook
.ipynb_checkpoints/

# File di log
*.log

# Project notes
project_notes.md

# Ignora il dataset
data/